grant {
    permission java.security.AllPermission;
    permission java.net.SocketPermission "*", "connect,accept,listen";
    permission java.io.FilePermission "${user.home}${/}Documents${/}Class${/}IST411_workspace${/}L09RMISolo${/}output${/}dist${/}-", "read, execute";
    permission java.io.FilePermission "${user.home}${/}Documents${/}Class${/}IST411_workspace${/}L09RMISolo${/}output${/}-", "read, execute";    
    permission java.security.SecurityPermission "getPolicy";
};